html {
    font-size: 18px;
}

/* hero image */
#view {
    width: 100%;
    height: 100vh;
    /* shorthand background: linear-gradient, url, background-repeat, background-position / background-size */
    /* use linear-gradient to add a darken background effect to the image to make the text easier to read - make sure to click the box to change the opacity */
    background: linear-gradient(rgba(255, 255, 255, 0.36), rgba(255, 255, 255, 0.161)), url("https://images.pexels.com/photos/5210148/pexels-photo-5210148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center / cover;
}

/* contains everything inside the hero image */
.container {
    width: 90%;
    height: 100%;
    /* limit the width on bigger devices */
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    /* makes them line up on the left side (horizontal) */
    justify-content: left;
    /* text-align makes everything go to the center */
    text-align: left;
    color: #F9F9F9;
    text-shadow: -6px -3px 22px #292929;
}

/* since we set the HTML font-size to 18px the rem is the value we multiply this by (em is just for the container we set it in) */
/* for the heading */
.container .info h1 {
    font-size: 3rem;
}

.container .info h4 {
    font-size: 1.5rem;
}